/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --bg-color: #000028;
  --accent-color: #FF0070;
  --title: #DB00FF;
  --menu-color: #FF0070;
  --shadow: 4px 4px 0px 0px #FF0070;
  --section-title: #FF0070;
  --text-color: #F1B2CE;
  --border-color: #FF0070;
  --bg-img: url("../images/cover-image-dark.png");
  --hover-color: #F1B2CE;
  --shadow-rec-icon: 0px 0px 4px 2px #FF0070;
  --shadow-header-title: 4px 4px 0px #FF0070;
  --shadow-footer-title: 2px 2px 0px #FF0070;
  --visibility: 1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000028;
    --accent-color: #FF0070;
    --title: #DB00FF;
    --section-title: #FF0070;
    --menu-color: #FF0070;
    --text-color: #F1B2CE;
    --border-color: #FF0070;
    --bg-img: url("../images/cover-image-dark.png");
    --hover-color: #F1B2CE;
    --shadow-rec-icon: 0px 0px 4px 2px #FF0070;
    --shadow-header-title: 4px 4px 0px #FF0070;
    --shadow-footer-title: 2px 2px 0px #FF0070;
    --visibility: 1;
  } 
}