/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  font-family: var(--font-family);
  background-image: var(--bg-img);
  background-color: var(--bg-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-rows: min-content min-content repeat(2, auto);
  padding: var(--interval-s);
  block-size: 41.75rem;

  @media (min-width: 768px) {
    padding: var(--interval-m) var(--interval-m) 0 0;
    block-size: 64rem;
  };

  @media (min-width: 1024px) {
    block-size: 48rem;
  }
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-top: 1px solid var(--menu-color);
  border-right: 1px solid var(--menu-color);
  inset-inline-end: 0;
  inset-block-start: 0;
  margin-inline-end: 10px;
  margin-block-start: 10px;
  color: var(--menu-color);
}

@media (min-width: 768px) {
  .decorated-zone::before {
    margin-top: 20px;
    right: 10px;
  }
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-bottom: 1px solid var(--menu-color);
  border-left: 1px solid var(--menu-color);
  inset-block-end: 0;
  margin-inline-start: 10px;
  margin-block-end: 10px;
}

@media (min-width: 768px) {
  .decorated-zone::after {
    margin-bottom: 20px;
    left: 10px;
  }
}

.header__rec {
  display: flex;
  opacity: var(--visibility);
  justify-self: end;
  color: var(--menu-color);
  align-items: center;
  gap: 10px;
  grid-row: 1;
  font-weight: var(--weight-s);
  font-size: 18px;
  padding-block-end: 2.5rem;
  padding-inline-end: 10px;

  @media (min-width: 768px) {
    padding: 0;
    block-size: min-content;
    gap: 15px;
    padding-inline-end: 5px;  
  }

  @media (min-width: 1024px) {
    grid-column: 3;
    align-self: flex-start;
  }
}

.header__rec::after {
  content: '';
  display: block;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 60%;
  background-color: var(--accent-color);
  box-shadow: var(--shadow-rec-icon);   
}

.header__theme-menu {
  justify-self: end;
  color: var(--menu-color);
  grid-row: 2;
  font-weight: var(--weight-s);
  font-size: 18px;

  @media (min-width: 768px) {
    margin-block-start: 9.375rem;
  }

  @media (min-width: 1024px) {
    justify-self: center;
    align-self: flex-start;
    margin: 0;
    padding-inline-start: 20px;
    grid-row: 1;
    grid-column: 1/4;
 }
}

.header__theme-menu-list {
  @media (min-width: 1024px) {
  display: flex;
  gap: 10px;
  }
}

.header__theme-menu-button_type_auto {
  margin-block-end: 11.5px;
  margin-block-start: 11.5px;

  @media (min-width: 1024px) {
    margin: 0;
  }
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  padding: 0 13px 0 13px;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-color);
}

.header__theme-menu-button:focus-visible {
  text-decoration: underline;
  text-underline-position: under;
  outline: none;
}

.header__title {
  grid-row: 3;
  color: var(--title);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: var(--weight-m);
  line-height: 95.7px;
  text-shadow: var(--shadow-header-title);
  margin-block-start: 4.5rem;
  margin-block-end: 3.43rem;

  @media (min-width: 768px) {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    padding-block-start: 7rem;
  }

  @media (min-width: 1024px) {
    grid-column: 1/4;
    padding-block-start: 14rem;
  }
}

.header__p {
  grid-row: 4;
  color: #000;
  background-color: var(--accent-color);
  margin-block-end: 3.5rem;
  font-size: 18px;
  font-weight: var(--weight-m);

  @media (min-width: 768px) {
    inline-size: 22.75rem;
    block-size: min-content;
    justify-self: right;
    margin-block-end: 5rem
  }

  @media (min-width: 1024px) {
    block-size: 4.43rem;
    inline-size: 30.68rem;
    grid-column: 2/4;
    margin-block-end: 3.8rem;
  }
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  font-size: 18px;
  padding: 4px var(--interval-s) var(--interval-s) var(--interval-s);
  background: var(--bg-color);

  @media (min-width: 768px) {
    padding: 4px var(--interval-m) 0 var(--interval-m);
  }
}

.link {
  text-shadow: var(--shadow-footer-title);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

@media (prefers-color-scheme: light) {
  .link {
    text-decoration: none;
  }
}

.link:focus-visible {
  outline: 1px solid var(--menu-color);
}

.section {
  margin-block-start: 40px;
  
  @media (min-width: 768px) {
    display: grid;
    margin-block-start: 60px;
} 
}

.section__title {
  font-size: inherit;
  color: var(--section-title);
  font-weight: var(--weight-m);
  line-height: 130%;
}

.first-section {
  @media (min-width: 768px) { 
  grid-column: 8/33;
  }

  @media (min-width: 1024px) {
    grid-column: 11/33;
  }
}

.section-title-one {
  @media (min-width: 768px) {
    grid-column: 1/6;
    padding-inline-end: 2.5rem;
  }

  @media (min-width: 1024px) {
  grid-column: 1/9;
  padding-inline-end: 5px;
  }
}

.second-section {
  @media (min-width: 768px) {
  grid-column: 1/33;
  }

  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

.section-title-two {
  padding-block-start: 10px;
  @media (min-width: 768px) {
    padding-block-start: 20px;
  }
  
  @media (min-width: 1024px) {
    grid-column: 1/9;
    padding-block-start: 20px;
  }
}

.thrid-section {
  padding-block-start: 20px;

  @media (min-width: 768px) { 
  grid-column: 8/33;
  }

  @media (min-width: 1024px) {
    grid-column: 10/33;
    padding-block-start: 1.25rem;
  }
}

.section-title-three {
  padding-block-start: 10px;
  @media (min-width: 768px) {
    grid-column: 1/6;
    padding-inline-end: 10px;
    padding-block-start: 20px;
  }

  @media (min-width: 1024px) {
  grid-column: 1/8;
  padding-block-start: 1.25rem;
  padding-inline-end: 7px;
  }
}

.article__title {
  font-size: inherit;
  font-weight: var(--weight-m);
  color: #000;
  background-color: var(--accent-color);
  text-wrap: wrap;
  margin-block-start: 20px;
  margin-block-end: 10px;
}

.article__title-heading {
  font-size: inherit;
  font-weight: var(--weight-m);
  color: #000;
  background-color: var(--accent-color);
  text-wrap: wrap;
}

.top-none-interval {
  @media (min-width: 768px) {
    margin-block-start: 0;
  }
}

.article__text {
  font-size: 18px;
  font-weight: var(--weight-s);
  line-height: 23.4px;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  margin-block-start: 50px;
  margin-block-end: 10px;

  @media (min-width: 768px) {
    margin-block-start: 80px;
    gap: 0;
    margin-block-end: 30px;
  }
}

.gallery_heading {
  @media (min-width: 768px) {
    display: flex;
  }
}

.gallery__img {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.gallery-item {
  padding-block-end: 10px;

  @media (min-width: 768px) {
    padding-block-end: 0;
  }

  @media (min-width: 1024px) {
    padding-block-end: 0;
  }
}

.gallery__card {
  padding: 10px 0;
  @media (min-width: 768px) {
    display: grid;
    padding: 5px 0 5px 0;
    margin-block-start: 20px;
    margin-block-end: 20px;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);

    .sunset-img {
      grid-column: 1 / 3; 
      grid-row: 1;
    }
    
    .ice-cream-img {
      grid-column: 3; 
      grid-row: 1 / 3;
    }
    
    .tape-img {
      grid-column: 1;
      grid-row: 2 / 4;
    }
    
    .books-img {
      grid-column: 2;
      grid-row: 2;
    }
    
    .street-img {
      grid-column: 2 / 4; 
      grid-row: 3; 
    }
  }
}

.footer {
  background: var(--bg-color);
  color: var(--title);
  block-size: 100%;
  @media (min-width: 768px) {
    block-size: 64rem;
  }

  @media (min-width: 1024px) {
    block-size: 48rem;
  }
}

.footer__title {
  display: grid;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: var(--shadow-footer-title);
  justify-content: center;
  align-items: center;
  block-size: 41.75rem;

  @media (min-width: 768px) {
    block-size: 100%;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem); 
  }
}